<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Kingdom Trails" subTitle="Sign up or Log in"}}
    </div>
    <div class="column">
        {{> WelcomeNavigator }}
    </div>
</div>

<div class="columns is-vcentered content">
    <div class="column has-text-centered">
        <img width="300" src="images/greenway.png"/>
    </div>
    <div class="column">
        <h1 class="title">Lets keep track of trails</h1>
        <p>Please update Trail info!</p>
    </div>
</div>
