<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Kingdom Trails" subTitle="Update Today!"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>

<div class="columns">
    <div class="column has-text-centered">
        <img width="300" src="images/kerry.jpg"/>
    </div>
    <div class="column box has-text-centered">
        <h1 class="title is-4">Walking Trails of Kerry</h1>
        {{> TrailForm }}
    </div>
</div>
